.timeline-dot.left .year {
  float: left;
}

.timeline-event:nth-child(even) .col-lg-4 {
  margin-left: auto;
}

.timeline-dot.right .year {
  float: right;
}

.timeline-event:nth-child(odd) .col-lg-4 {
  margin-right: auto;
}

.timeline-event {
  position: relative;
  margin-bottom: 20px;
}

.timeline-dot {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-event.left .year {
  float: left;
  margin-right: 10px;
}

.timeline-event.right .year {
  float: right;
  margin-left: 10px;
}

.timeline-event.left .content {
  margin-left: 30px;
}

.timeline-event.right .content {
  margin-right: 26px;
}

.timeline {
  position: relative;
}

.timeline-line {
  position: absolute;
  width: 2px;
  background: #000;
  top: 0;
  left: 50%;
  height: 100%;
}

.timeline-dot {
  position: relative;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  margin-bottom: 20px;
}

.timeline-dot.left {
  float: left;
  margin-right: 10px;
}

.timeline-dot.right {
  float: right;
  margin-left: 10px;
}

.timeline-event .year {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.content {
  clear: both;
  padding: 0 30px;
  /*border: 1px solid;*/
  /*margin: 10px 0;*/
}

.content.left {
  text-align: left;
}

.content.right {
  text-align: right;
}

.timeline {
  position: relative;
}

.timeline-line {
  position: absolute;
  width: 2px;
  background: #000;
  top: 0;
  left: 50%;
  height: 100%;
}

.timeline-dot {
  position: relative;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  margin-bottom: 20px;
}

.timeline-dot.left {
  float: left;
  margin-right: 10px;
}

.timeline-dot.right {
  float: right;
  margin-left: 10px;
}

.timeline-event .year {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.content {
  clear: both;
  padding: 0 30px;
}

.content.left {
  text-align: left;
  /*background-color: white;*/
  /*padding: 10px;*/
  /*border: 1px solid white;*/
  margin: 10px 0;
  max-width: 40%;
}

.content.right {
  border: 1px solid outset;
  /*padding: 10px;*/
  /*margin-left: 40px;*/
  /*margin-bottom: 10px;*/
}

div {
}

