.project-title-container {
  height: 60px;
  overflow: hidden;
}

.project-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

