.my-custom-class-2 {
  width: 300px;
  height: 300px;
}

.timeline {
  position: relative;
}

.timeline-line {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 2px;
  background: white;
}

.timeline-event {
  position: relative;
  padding: 20px;
}

.timeline-event:nth-child(even) .col-xl-5, .timeline-event:nth-child(even) .col-lf-4 {
  /*margin-left: auto;*/
  margin-right: 0;
}

.timeline-event:nth-child(odd) .col-xl-5, .timeline-event:nth-child(odd) .col-lf-4 {
  margin-right: auto;
  margin-left: 0;
}

.timeline-line {
  position: absolute;
  width: 2px;
  background: white;
  left: 50%;
  top: 0;
  bottom: 0;
}

.timeline-dot {
  position: relative;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 202px;
}

.year {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-150%, 0);
  color: white;
  font-size: 30px;
}

body {
  margin: 0;
  padding: 0;
}

.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all ease .5s;
  opacity: 0;
  background-color: rgba(24,188,156,.9);
}

.project-title {
  /*background-color: rgb(26, 188, 156);*/
  color: black;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 18px;
}

.project-title {
  font-size: 14px;
  line-height: 1.5;
  white-space: normal;
  max-width: 100%;
  overflow-wrap: break-word;
  text-align: center;
  color: #000;
  text-decoration: none;
}

