.about-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid white;
  padding: 20px;
  width: 49%;
}

.bio, .education-work {
  /*width: 50%;*/
  /*padding: 10px;*/
  /*box-sizing: border-box;*/
}

.section-title {
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about-description {
  /*width: auto;*/
  flex-direction: column;
  border: 2px solid white;
}

.bio, .education-work {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.bio {
  border-bottom: 2px solid white;
}

/* You can add more specific styles for the bio and education-work sections if needed */

.about-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 20px auto;
}

